__pycache__
.vscode
*.pyc
*~
*.swp
*.DS_Store
.ftpignore
.ftpconfig
.ipynb_checkpoints
build
*.so
*.cmake
CMake*
Makefile
dummy*
*.log
*.cpp
.eggs/
dist/
tools/RAiDER.egg-info/
tools/bindings/utils/makePoints.c
.lsp/
.coverage*
