__pycache__
.vscode
*.pyc
*~
*.swp
*.DS_Store
.ftpignore
.ftpconfig
.ipynb_checkpoints
build
*.so
*.cmake
CMake*
Makefile
dummy*
test/data
*.log
*.pdf
*.cpp
test/*/geom/*.dem
test/*/geom/*.nc
test/test_geom/*.nc
test/scenario_2/GMAO_Delay_*.csv
test/GUNW/
.eggs/
dist/
tools/RAiDER.egg-info/
tools/bindings/utils/makePoints.c
gunw_azimuth_test_data/
test/synthetic_test/*.nc
test/synthetic_test/weather_files_synth/
orbits/
.lsp/
/*.nc
/GUNW*.yaml
/*.tif
