__pycache__
.vscode
*.pyc
*~
*.swp
*.DS_Store
.ftpignore
.ftpconfig
.ipynb_checkpoints
build
*.so
*.cmake
CMake*
Makefile
dummy*
./weather_files
test/data
test/*/*/real/
test/*/geom/*.dem
*.log
*.pdf
*.cpp
.eggs/
dist/
tools/RAiDER.egg-info/
tools/bindings/utils/makePoints.c
debug-outputs/
