# create environment : conda env create -f environment.yml
# update dependencies: conda env update -f environment.yml
# remove environment : conda env remove -n RAiDER
# enter  environment : conda activate RAiDER
# exit   environment : conda deactivate
name: RAiDER
channels:
 - conda-forge
 - anaconda
 - defaults
dependencies:
 - python>=3.8
 - cartopy
 - boto3
 - cdsapi
 - cfgrib
 - cmake
 - cxx-compiler
 - cython
 - dask
 - dem-stitcher>=2.3.0
 - ecmwf-api-client
 - gdal>=3.0
 - geopandas
 - h5py
 - libgdal
 - matplotlib
 - netcdf4
 - numpy
 - pandas
 - progressbar
 - pydap>3.2.2|<3.2.2
 - pygrib
 - pyproj>=2.2.0
 - rasterio
 - scipy
 - shapely
 - sysroot_linux-64
 - xarray
 - pip
