# create environment : conda env create -f environment.yml
# update dependencies: conda env update -f environment.yml
# remove environment : conda env remove -n RAiDER
# enter  environment : conda activate RAiDER
# exit   environment : conda deactivate
name: RAiDER
channels:
 - conda-forge
 - anaconda
 - defaults
dependencies:
 - python>=3
 - cartopy
 - cdsapi
 - cfgrib
 - cmake
 - cxx-compiler
 - cython
 - dask
 - ecmwf-api-client
 - gdal>=3.0
 - h5py
 - jupyterlab
 - libgdal
 - matplotlib
 - netcdf4
 - numpy
 - pandas
 - progressbar
 - pydap>3.2.2|<3.2.2
 - pygrib
 - pyproj>=2.2.0
 - pytest
 - pytest-timeout
 - rasterio
 - scipy
 - shapely
 - sysroot_linux-64
 - xarray
 - pip
 - pip:
   - dem_stitcher
   - requests
   - boto3
   - tqdm
   - geopandas
