# create environment : conda env create -f environment-dev.yml
# update dependencies: conda env update -f environment-dev.yml
# remove environment : conda env remove -n RAiDER
# enter  environment : conda activate RAiDER
# exit   environment : conda deactivate
name: RAiDER
channels:
 - conda-forge
 - anaconda
 - defaults
dependencies:
# Regular dependencies. Keep these in sync with environment.yml
 - python>=3
 - autopep8
 - cartopy
 - cdsapi
 - cfgrib
 - cmake
 - netcdf4
 - cython
 - dask
 - gdal>=3.0
 - geopandas
 - h5py
 - libgdal
 - matplotlib
 - numpy
 - pandas
 - progressbar
 - pygrib
 - pyproj>=2.2.0
 - scipy
 - xarray
 - shapely
 - pydap>3.2.2|<3.2.2
 - ecmwf-api-client
 - cxx-compiler
 - sysroot_linux-64
 - rasterio
 # Dev dependencies. Only needed for contributing
 - autopep8
 - pytest
 - pytest-cov
 - pytest-timeout
 - pip
 - pip:
   - dem_stitcher==2.1.1
   - boto3
   - geopandas

