version: 2.1
jobs:
  build:
    docker:
      - image: cimg/python:3.10.6
        user: root
    environment:
      PYTHON_VERSION: 3.10.6
    steps:
      - checkout
      - run:
          name: Setup Miniconda
          command: |
            apt update --yes && apt-get upgrade --yes
            apt install -y --no-install-recommends wget ca-certificates git
            cd $HOME
            wget "https://repo.anaconda.com/miniconda/Miniconda3-py39_4.12.0-Linux-x86_64.sh" -O miniconda.sh
            printf '%s' "78f39f9bae971ec1ae7969f0516017f2413f17796670f7040725dd83fcff5689  miniconda.sh" | sha256sum -c
            bash miniconda.sh -b -p $HOME/miniconda
      - run:
          name: Setup environment and run tests
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            conda install mamba -n base -c conda-forge --yes
            mamba update -y conda
            mamba update -y mamba
            mamba create -n myenv python=$PYTHON_VERSION -c conda-forge
            source activate myenv
            mamba env create -f environment-dev.yml
            conda activate RAiDER
            pip install coveralls
            echo url: https://cds.climate.copernicus.eu/api/v2 > $HOME/.cdsapirc
            echo key: $cdsak >> $HOME/.cdsapirc
         
            echo { > $HOME/.ecmwfapirc
            echo '  "url": "https://api.ecmwf.int/v1",' >> $HOME/.ecmwfapirc
            echo '  "email": "'$ecmwfu'",' >> $HOME/.ecmwfapirc
            echo '  "key": "'$ecmwfk'"' >> $HOME/.ecmwfapirc
            echo } >> $HOME/.ecmwfapirc

            echo url: $NCUMloc > $HOME/.ncmrlogin
            echo username: $NCUMu >> $HOME/.ncmrlogin
            echo password: $NCUMp >> $HOME/.ncmrlogin

            python --version
            python -c "import numpy; print(numpy.__version__)"
            python -c "import pyproj; print(pyproj.__version__)"
      - run:
          name: Install RAiDER and test the install
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            source activate myenv
            conda activate RAiDER
            python setup.py build
            python setup.py install
            python -c "import RAiDER; from RAiDER.delay import tropo_delay"
            python -c "import RAiDER; from RAiDER.interpolator import interp_along_axis"
            raiderDelay.py -h
            raiderStats.py -h
            raiderDownloadGNSS.py -h
            raiderWeatherModelDebug.py -h
      - run:
          name: Run unit tests
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            source activate myenv
            conda activate RAiDER
            COV_OPTIONS=`python -c "import importlib;print(*(' --cov='+p for p in importlib.util.find_spec('RAiDER').submodule_search_locations))"`
            py.test -m "not long" test/ $COV_OPTIONS --cov-report=
      - run:
          name: Report coverage
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            source activate myenv
            conda activate RAiDER
            python .circleci/fix_coverage_paths.py .coverage $(pwd)/tools/RAiDER/
            coverage report -mi
            coveralls
