version: 2.1
jobs:
  build:
    docker:
      - image: ubuntu:bionic
    environment:
      PYTHON_VERSION: 3.7.1
    steps:
      - checkout
      - run:
          name: Setup Miniconda
          command: |
            apt update --yes && apt-get upgrade --yes
            apt install -y --no-install-recommends wget ca-certificates git
            cd $HOME
            wget "https://repo.anaconda.com/miniconda/Miniconda3-4.7.10-Linux-x86_64.sh" -O miniconda.sh
            printf '%s' "8a324adcc9eaf1c09e22a992bb6234d91a94146840ee6b11c114ecadafc68121  miniconda.sh" | sha256sum -c
            bash miniconda.sh -b -p $HOME/miniconda
      - run:
          name: Setup environment and run tests
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            conda update -y conda
            conda create -n myenv python=$PYTHON_VERSION -c conda-forge
            source activate myenv
            conda env create -f environment-dev.yml
            conda activate RAiDER
            pip install coveralls
            echo url: https://cds.climate.copernicus.eu/api/v2 > $HOME/.cdsapirc
            echo key: $cdsak >> $HOME/.cdsapirc
         
            echo { > $HOME/.ecmwfapi
            echo '"url": "https://api.ecmwf.int/v1",' >> $HOME/.ecmwfapi
            echo '"email": "'$ecmwfu'",' >> $HOME/.ecmwfapi
            echo '"key": "'$ecmwfk'"' >> $HOME/.ecmwfapi
            echo } >> $HOME/.ecmwfapi

            python --version
            python -c "import numpy; print(numpy.__version__)"
            python -c "import pyproj; print(pyproj.__version__)"
      - run:
          name: Install RAiDER and test the install
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            source activate myenv
            conda activate RAiDER
            python setup.py build
            python setup.py install
            python -c "import RAiDER; from RAiDER.delay import computeDelay, interpolateDelay; print(computeDelay)"
            python -c "import RAiDER; from RAiDER.interpolator import interp_along_axis; print(interp_along_axis)"
            raiderDelay.py -h
            raiderStats.py -h
            raiderDownloadGNSS.py -h
      - run:
          name: Run unit tests
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            source activate myenv
            conda activate RAiDER
            COV_OPTIONS=`python -c "import importlib;print(*(' --cov='+p for p in importlib.util.find_spec('RAiDER').submodule_search_locations))"`
            py.test test/ -s $COV_OPTIONS --cov-report=
      - run:
          name: Report coverage
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            source activate myenv
            conda activate RAiDER
            python .circleci/fix_coverage_paths.py .coverage $(pwd)/tools/RAiDER/
            coverage report -mi
            coveralls
