version: 2.1
jobs:
  build:
    docker:
      - image: ubuntu:bionic
    environment:
      PYTHON_VERSION: 3.7.1
    steps:
      - checkout
      - run:
          name: Setup Miniconda
          command: |
            apt update
            apt install -y wget
            apt-get update --yes && apt-get upgrade --yes
            apt-get install g++ --yes
            cd $HOME
            wget "https://repo.anaconda.com/miniconda/Miniconda3-4.7.10-Linux-x86_64.sh" -O miniconda.sh
            printf '%s' "8a324adcc9eaf1c09e22a992bb6234d91a94146840ee6b11c114ecadafc68121  miniconda.sh" | sha256sum -c
            bash miniconda.sh -b -p $HOME/miniconda
      - run:
          name: Setup environment and run tests
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            conda update -y conda
            conda create -n myenv python=$PYTHON_VERSION -c conda-forge
            source activate myenv
            conda env create -f environment.yml
            conda activate RAiDER
            echo $'url: https://cds.climate.copernicus.eu/api/v2\nkey: 43214:de6dbdf6-ccf2-4a95-b26e-e1ceb24969e1' > $HOME/.cdsapirc
            python --version
            python -c "import numpy; print(numpy.__version__)"
            python -c "import pyproj; print(pyproj.__version__)"
      - run:
          name: Install RAiDER and test the install
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            source activate myenv
            conda activate RAiDER
            python setup.py build
            python setup.py install
            python -c "import RAiDER; from RAiDER.delay import computeDelay, interpolateDelay; print(computeDelay)"
            python -c "import RAiDER; from RAiDER.interpolator import interp_along_axis; print(interp_along_axis)"
            raiderDelay.py --date 20200103 --time 23:00:00 -b 40 -79 39 -78 --model ERA5 --zref 15000 -v
            raiderDelay.py --date 20200103 --time 23:00:00 -b 40 -79 39 -78 --model ERA5 --zref 15000 -v --heightlvs 0 100 200
      - run:
          name: Run unit tests
          command: |
            export PATH="$HOME/miniconda/bin:$PATH"
            source activate myenv
            conda activate RAiDER
            python -m unittest -q test_interpolator.FcnTests
            
