name: Deploy Docs to Github.io

on:
  push:
    tags:
      - 'v*'

jobs:
  build_and_deploy:
    name: Build site and deploy
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: mamba-org/provision-with-micromamba@v16
        with:
          extra-specs: |
            python=3.10

      - name: install RAiDER
        shell: bash -l {0}
        run: |
          python -m pip install --no-deps .

      - name: Deploy website
        shell: bash -l {0}
        run: |
          mkdocs gh-deploy --force
